@using System.Net
@using System.Threading.Tasks
@model PieDetailViewModel

<div class="thumbnail">
    <img alt="@Model.Pie.Name" src="@Model.Pie.ImageUrl">
    <div class="caption-full">
        <h3 class="pull-right">@Model.Pie.Price</h3>
        <h3>
            <a href="#">@Model.Pie.Name</a>
        </h3>
        <h4>@Model.Pie.ShortDescription</h4>
        <p>@Model.Pie.LongDescription</p>
        <p class="button">
            <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
               asp-route-pieId="@Model.Pie.PieId">Add to cart</a>
        </p>
    </div>
</div>

<h3>Reviews for this pie</h3>

@foreach (var review in @Model.Pie.PieReviews)
{
    @*@Html.Raw(@review.Review)*@
    <div>@WebUtility.HtmlDecode(review.Review) </div>
    <hr />
}

<form asp-controller="Pie" asp-action="Details" method="post" class="form-horizontal" role="form">
    <h4>Write a review</h4>
    <hr />
    <input type="hidden" asp-for="@Model.Pie.PieId" />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Review" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Review" class="form-control" />
            <span asp-validation-for="Review" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Send review" />
        </div>
    </div>

</form>